.top__bar {
  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 0.2px solid #cfd8dc;
}

.small_top_bar {
  display: none;
}

.topbar__title {
  display: flex;
  align-items: center;
}

.topbar__title > i {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.topbar__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.align_tables {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .small_top_bar {
    display: block;
    height: 100px;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top__bar {
    display: none;
  }
}
