.item-img {
  height: 200px;
  width: 200px;
}

.item-desc {
  font-size: 22px;
}

.item-stock {
  font-weight: light;
  margin-top: 10px;
  color: teal;
}

.items-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-flex {
  display: flex;
  align-content: top;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart-flex {
    flex-direction: column;
  }

  .cart-listing {
    flex: 2;
  }

  .reciept__lsiting {
    flex: 1;
  }
}
