.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.headerTitle {
  font-weight: 600;
}

@media (max-width: 768px) {
  .header-bar {
    padding: 10px;
  }
}
