.listings {
  padding: 2px;
  display: grid;
  grid-template: auto / auto auto auto;
}

.listing {
  padding: 5px;
}

.listing-img {
  height: 300px;
}

.listing-img:hover {
  height: 340px;
  transform: ease-in-out;
  transition: all 0.5s;
}

.listing-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .listings {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
